# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Build and Release Folders
bin-debug/
bin-release/
bin/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project

.idea
*.iml
